.navigation {
  display: flex;
  flex-direction: row;

  overflow-x: auto;

  a {
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #fff;
    color: #222;
    font-family: Helvetica;
    text-decoration: none;

    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.15);

    pre {
      margin: 0px;
    }

    &:hover, &.active {
      background: #ff7d28;
      color: #fff;
    }
  }
}

.content {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 16px;
}
